@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  margin: 0;
  overflow-x: hidden;
}

.bg {
  background: url("images/BG.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-right: -60px;
}

.right,
.header {
  display: inline;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  align-items: center;
}

.navText {
  padding-top: 1em;
}

.right {
  text-decoration: none;
  line-height: 21px;
  color: #000000;
  margin-left: 30px;
  font-weight: 400;
  font-size: 18px;
}

.contact {
  background: #36929c;
  color: #fff;
  width: 100px;
  height: 50px;
  border: 10px #36929c solid;
  border-radius: 7px;
}

.coffeeMain {
  padding-left: 100px;
  font-weight: 500;
  padding-top: 10em;
  height: 900px;
  margin-bottom: 100px;
}
h1:after {
  content: attr(data-text);
  color: #7b4036;
  transform: translateX(-100%);
  position: absolute;
}

.moreInfo {
  background: #36929c;
  color: #fff;
  position: relative;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.coffeeText {
  font-weight: 300;
  width: 50%;
  margin-top: 140px;
}

.top-title {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.05em;
  line-height: 60px;
}

.second-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.sub-coffee {
  color: #757575;
}

.instalink {
  color: #36929c;
}

.about-section {
  display: flex;
}

@media (max-width: 800px) {
  .about-section {
    flex-wrap: wrap;
  }
  .text {
    padding-left: 50px;
  }
}

.about-Img {
  padding-left: 50px;
  height: 100%;
}

.blue-back {
  position: relative;
}
.blue-back::before {
  content: "";
  background: #87cfd5;
  top: 40px;
  left: -40px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.text {
  min-width: 50%;
}

h1.about-h1 {
  font-size: 54px;
  line-height: 63px;
  font-weight: normal;
}

.about-section,
.about-Img {
  margin-right: 15px;
}

.menu {
  padding-left: 10%;
  padding-top: 200px;
  padding-bottom: 166px;
}

h3.menu-class {
  padding-top: 2em;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 40%;
  padding: 10px;
  transform: translateX(-10px);
  padding-right: 20px;
}

.column:nth-child(2n-1) {
  border-right: 1px solid #e8e8e8;
  margin-right: 20px;
}

.column-background {
  background: #36929c;
}

.left {
  margin-right: 20px;
  height: 120px;
}

.item {
  display: flex;
  justify-content: space-between;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  color: #fff;
}

.price,
.drink {
  display: inline;
}

.newsletter {
  padding: 80px 0;
  background: linear-gradient(0deg, #5a6c76, #5a6c76),
    linear-gradient(0deg, #87cfd5, #87cfd5),
    linear-gradient(266.35deg, #87cfd5 0.59%, #36929c 62.74%);
  width: 100vw;
}

.newsletter .content {
  margin: 0 auto;
  text-align: center;
}

.newsletter .content h2 {
  color: #ffffff;
  margin-bottom: 40px;
}
.newsletter .content .form-control {
  height: 51px;
  width: 40rem;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: large;
  outline: none;
}

.input-group {
  padding-top: 10px;
}

.newsletter .content .btn {
  min-height: 50px;
  border: none;
  background: #36929c;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  width: 100px;
  outline: none;
  cursor: pointer;
  transform: translateX(-3px);
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.gallery-left,
.gallery-right {
  display: inline-block;
}

.foot {
  background: #36929c;
  height: 70px;
  width: 100vw;
}

.footer-text {
  padding-left: 30px;
  color: #fff;
  font-size: small;
  padding-top: 30px;
}

.foot-text {
  font-size: 48px;
  line-height: 56px;
}
